body
{
    display: flex;
    background-color: rgb(36, 36, 36);
    justify-content: center;
}

.video-container{
    width: 450px;
    height: 350px;

    background-color: rgb(58, 58, 58);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;

    
    padding: 5px;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-imagen{
    position: relative;
    border-radius: 15px;
}

.video-imagen img{
    width: 100%;
    border-radius: 15px;
}

.video-imagen span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

.video-titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.video-titulo h3{
    width: 85%;
    font-size: 22px;
    margin: 0;
}

.video-titulo button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.video-info{
    color: rgb(217, 217, 217);
}